# Dependencies
node_modules

# Build outputs
dist
.next
out
*.tgz

# Environment
.env
.env.*.local

# Caches
.cache
.eslintcache
*.tsbuildinfo
.turbo

# Coverage
coverage
*.lcov

# Logs and debug
logs
*.log
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea
*.swp
*.swo

# Vercel (optional)
.vercel
